<header>
    <nav>
        <a href="/"><img src="/logo.png"></a>
        <!-- <ul>
            <li><a href="#my-project">My projects</a></li>
            <li><a href="#">Connect with me</a></li>
        </ul> -->
    </nav>
</header>

<style>
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 11em;
}

ul {
    display: flex;
    gap: 6em;
}

a {
    font-size: 1.8em;
    color: var(--black);
}

img {
    width: 160px;
}

</style>